
body {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  -webkit-text-stroke: 0.5px white;

}

main {
  min-width: 800px;
  height: 600px;
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  justify-content: stretch;


}

main > section {
  background-color: rgb(71, 54, 37);
  box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.39);
}

.game-zone {
width: 70%;
display: flex;
}

.controllers-wrapper {
  width: 30%;
  background-color: darkcyan;
  background: url(../assets/img/PATRON.png);
}



.board-wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

table {
  border-spacing: 0;
}

.cell {
  width: 20px;
  height: 20px;
  background-color: transparent;
  transition: .08s ease;
  background-size: cover;
}

#player1-board {
  background: url('./../assets/img/rockbg.png');
  border: 2px solid brown;
  box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.39);
}

.game-info-wrapper {
  width: 40%;
  height: 100%;
  background-color: chocolate;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  box-sizing: border-box;
  background: url(../assets/img/PATRON.png);
}

.game-info-wrapper > .next-piece {
  width: 100px;
}

.game-info-wrapper > div {
  width: 150px;
  height: 100px;
  background-color: rgb(37, 23, 7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.39);
}

.controllers-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.controllers {
  display: flex;
  height: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.game-info-wrapper {
  text-align: center;
}

.level, .points, .blocks {
  position: relative;
}

.game-info-wrapper h4 {
  position: absolute;
  margin: 0;
  padding: 0;
  top: -10px;
  width: 100%;
  font-size: 20px;
}

.game-info-wrapper span{
  font-size: 1.3rem;
}

.red {
  background-image: url('./../assets/img/red.png');
}

.green {
  background-image: url('./../assets/img/green.png');
}

.blue {
  background-image: url('./../assets/img/blue.png');
}

.yellow {
  background-image: url('./../assets/img/yellow.png');
}

.silver {
  background-image: url('./../assets/img/silver.png');
}

.orange {
  background-image: url('./../assets/img/orange.png');
}

.pink {
  background-image: url('./../assets/img/pink.png');
}

.black {
  background-image: url('./../assets/img/black.png');
}

@keyframes special-piece {
  0% {
    background-image: url('./../assets/img/silver.png');
  }

  12% {
    background-image: url('./../assets/img/red.png');
  }

  25% {
    background-image: url('./../assets/img/green.png');
  }

  37% {
    background-image: url('./../assets/img/pink.png');
  }

  50% {
    background-image: url('./../assets/img/black.png');
  }

  62% {
    background-image: url('./../assets/img/yellow.png');
  }

  75% {
    background-image: url('./../assets/img/blue.png');
  }

  87% {
    background-image: url('./../assets/img/orange.png');
  }

  100% {
    background-image: url('./../assets/img/silver.png');
  }
}

.special {
  animation-name: special-piece;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}

#btn-start {
  margin: 20px;
}